<% var found = found%>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id = navba>
  <a class="navbar-brand" href = "/home">Home</a>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <form id = "searchform" class="form-inline my-2 my-lg-0" id = "search" method="POST" action="/search">
      <input id = "searchbar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
      <button id = "searchbutton" class="form-control mr-sm-2" type="submit">Search</button>
    </form>
    <div id = nav-button-div>
      <%- user1 === null ?  include('notlogged') : include('logged') %> 
    </div>
  </div>
</nav>

<script>
  var found = '<%- found %>'
  if (found === "false"){
    document.getElementsByName('search')[0].placeholder='Film not found';
  }
</script>