<div id = loggediv>
    <div id = "welcome">Welcome  <%= user1 %></div>
    <form  class="form-inline my-2 my-lg-0" id = "logout" method="POST" action="/logout">
        <input class="form-control mr-sm-2" type="submit" value="logout">
    </form> 
</div>
