<form  class="form-inline my-2 my-lg-0" id = "signup" method="POST" action="/signup">
  <input class="form-control mr-sm-2" type="submit" value="signup">
</form> 
<form class="form-inline my-2 my-lg-0" id = "login" method="POST" action="/login">
  <input class="form-control mr-sm-2" type="submit" value="login">
</form>