<!DOCTYPE html>
<html>
  <head>
    <title>saas</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- search === null ?  include('partials/rank') : include('partials/search') %> 
  </body>
</html>
