<!DOCTYPE html>    
<html>    
<head>    
	<link rel="stylesheet" href="css/style.css"/>
	<title>Login Form</title>  
</head>    
<body id = logbody>    
	<div class="lg-container">
		<h1>LOGIN</h1>
		<form action="/log" id="lg-form" name="lg-form" method="POST">
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" placeholder="username"/>
			</div>
	
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="password" />
			</div>
	
			<div class = "logsin-button">
				<button type="submit" id="login">Login</button>
				
			</div>
			<div class = "wsp"><%=wp%></div>
		</form>
		<form action="/signup" id="lg-form" name="lg-form" method="POST">
			<div id = "signupinlog-button">
				<button type="submit" id="login">Signup</button>
			</div>
		</form>
	</div> 
</body>    
</html>    