<!DOCTYPE html>    
<html>    
<head>    
	<link rel="stylesheet" href="css/style.css"/>
	<title>Signup Form</title>  
</head>    
<body id =signbody>
	<div class="lg-container">
		<h1>SIGN UP</h1>
		<form action="/sign" id="lg-form" name="lg-form" method="POST">
	
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" placeholder="username"/>
			</div>
	
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="password" />
            </div>
            
            <div>
				<label for="confirm-password">Confirm Password:</label>
				<input type="password" name="confirm_password" id="confirm-password" placeholder="confirm password" />
			</div>
	
			<div class = "logsin-button">
				<button type="submit" id="login">Sign up</button>
			</div>
			<div class = wsp><%=ws%></div>
		</form>
	</div> 
</body>    
</html>  