body{
    font-family: 'Oleo Script', cursive;
    text-align: center;
}


@media (min-width: 1300px){
    #searchbar{
        width: 56vw;
    }
}

@media(max-width: 1300px) and (min-width: 1000px){
    #searchbar{
        width: 46vw;
    }
}

@media(max-width: 1000px) and (min-width: 700px){
    #searchbar{
        width: 36vw;
    }
}

@media (max-width: 820px){
    #welcome{
        display: none;
    }
}

@media (max-width: 600px){
    #navba div {
        display: none;
    }
}

nav div {
    display: flex;
    justify-content: space-between;
}

.navbar-expand-lg .navbar-collapse{
    flex-basis: auto;
}

#searchbar{
    margin-left: 3vw;
}

#nav-button-div{
    display: flex;
    margin-left: 1vw;
}

#welcome{
    margin:auto;
    margin-right: 1vw;
}



#searchbutton:hover{

}

/*----------------------*/

#loggediv{
    display: flex;
    justify-content: space-between;
    margin: auto;
}



#signupinlog-button{
    text-align: center;
}

.wsp{
    margin: auto;
    text-align: center;
}

.logsin-button{
    text-align:center;
    display: flex;
    justify-content: space-around;
}

.lg-container{
    font-family: 'Oleo Script', cursive;
    width:275px;
    margin:100px auto;
    padding:20px 40px;
    border:1px solid #f4f4f4;
    background:rgba(255,255,255,.5);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;

    -webkit-box-shadow: 0 0 2px #aaa;
    -moz-box-shadow: 0 0 2px #aaa;
}
.lg-container h1{
    font-size:40px;
    text-align:center;
}
#lg-form > div {
    margin:10px 5px;
    padding:5px 0;
}
#lg-form label{
    display: none;
    font-size: 20px;
    line-height: 25px;
}
#lg-form input{
    border:1px solid rgba(51,51,51,.5);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    padding: 5px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    font-family: 'Oleo Script', cursive;
    text-align:center;
}

#lg-form button{
    font-family: 'Oleo Script', cursive;
    font-size: 18px;
    border:1px solid #000;
    padding:5px 10px;
    border:1px solid rgba(51,51,51,.5);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;

    -webkit-box-shadow: 1px 1px 1px #aaa;
    -moz-box-shadow: 1px 1px 1px #aaa;
    cursor:pointer;
}
#lg-form button:hover{
    background:#DBD7D7;
}

/*----------------------*/


#big-search-container{
    display: flex;
    justify-content: space-around;
}

#search-container{
    vertical-align: center;
}

#search-table{
    margin-left: 7vw;
    width: 60%;
}

/*----------------------*/

.dropdown {
    margin:auto ;
    margin-top: 88px;
    margin-right: 5%;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 57px;
}

.dropbtn {
    pointer-events: none;
    background-color: #4E5066;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100px;
}
  

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100px;
}
  
.dropdown-content input {
    color: black;
    margin: auto;
    text-decoration: none;
    display: block;
}
  

.dropdown-content input:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #2e3037;}
  

/*----------------------*/
  
.table-title{
    text-align: center;
    margin: 20px
}



#notgen-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    bottom: 10px; 
}

#notgen-container-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

}

#notgen-container-2{
    display: flex;
    justify-content: space-around;

}

@media (max-width: 800px){
    #notgen-container{
        display: block
    }
    
}

.notgen-caption{
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    caption-side: top; 
    font-size: 15px;
    color:#000
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


.gen-table {
    margin: auto;
    table-layout: fixed;
    margin-top: 20px;
    font-size: 13px;
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 28%;
    padding: 2px;
    width: 88%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}


.notgen{
    table-layout: fixed;
    font-size: 10px;
    width: 27%;
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 10%;
    padding:1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    cursor: pointer;
}


 
.notgen th{
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:2px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:10px;
    padding:5px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    border-top-left-radius:1px;
}

.notgen tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:10px;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.notgen td {
    background:#FFFFFF;
    padding:6px;
    text-align:center;
    vertical-align:middle;
    font-size:10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:20px;
  padding:13px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  border-top-left-radius:2px;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:15px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  border: 1px solid #dddddd;
}

td {
    background:#FFFFFF;
    padding:12px;
    text-align:left;
    vertical-align:middle;
    font-size:13px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    border: 1px solid #dddddd;
  }
 
.gen-table tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
 
.gen-table tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:nth-child(odd) td {
    background:#f0f0f0;
  }




